@model _net_integrador.Models.Inquilino
@{
    ViewData["Title"] = "Nuevo inquilino";
}

<h2>Agregar Inquilino</h2>
    <a asp-action="Index" asp-controller="Inquilino" class="btn btn-secondary">Volver</a>

<form asp-action="Agregar" method="post">
    <div class="form-group">
        @Html.LabelFor(m => m.nombre, "Nombre")
        @Html.TextBoxFor(m => m.nombre, new { @class = "form-control" })
         @Html.ValidationMessageFor(m => m.nombre, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.apellido, "Apellido")
        @Html.TextBoxFor(m => m.apellido, new { @class = "form-control" })
         @Html.ValidationMessageFor(m => m.apellido, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.dni, "DNI")
        @Html.TextBoxFor(m => m.dni, new { @class = "form-control" })
         @Html.ValidationMessageFor(m => m.dni, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.email, "Email")
        @Html.TextBoxFor(m => m.email, new { @class = "form-control", type="email" })
         @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.telefono, "Teléfono")
        @Html.TextBoxFor(m => m.telefono, new { @class = "form-control" })
         @Html.ValidationMessageFor(m => m.telefono, "", new { @class = "text-danger" })
        
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    
</form>
