@model _net_integrador.Models.Inquilino
@{
    ViewBag.Title = "Editar Inquilino";
}

<h2>Editar Inquilino</h2>

@if (TempData["Exito"] != null)
{
    <script>
        alert('@TempData["Exito"]');
    </script>
}

@using (Html.BeginForm("Editar", "Inquilino", FormMethod.Post))
{
    @Html.HiddenFor(m => m.id)
    @Html.HiddenFor(m => m.estado)

    <div class="form-group">
        @Html.LabelFor(m => m.nombre, "Nombre")
        @Html.TextBoxFor(m => m.nombre, new { @class = "form-control" })
         @Html.ValidationMessageFor(m => m.nombre, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.apellido, "Apellido")
        @Html.TextBoxFor(m => m.apellido, new { @class = "form-control" })
         @Html.ValidationMessageFor(m => m.apellido, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.dni, "DNI")
        @Html.TextBoxFor(m => m.dni, new { @class = "form-control" })
         @Html.ValidationMessageFor(m => m.dni, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.email, "Email")
        @Html.TextBoxFor(m => m.email, new { @class = "form-control", type="email" })
         @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.telefono, "Teléfono")
        @Html.TextBoxFor(m => m.telefono, new { @class = "form-control" })
         @Html.ValidationMessageFor(m => m.telefono, "", new { @class = "text-danger" })

    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
}
